table{
   font-family: arial,sans-serif; 
   border-collapse: collapse;
   width: 100%;
   /* background-color: rgb(218, 209, 213); */
   
}

header {
   height: 100px;
   background-color:rgb(29,210,29);
   color: white;
   
}

h1{
    padding:20px;
}

.ftr{
    background-color:black;
    color:white;
}

th, td{
    border: 1px solid white;
    padding:8px
}

tr:nth-child(even){
    background-color:lightgray;
}

tr:last-child{
    background-color:black;
    color: white;
}

.content{
    display: flex;
    justify-content: flex-end;
    gap:20px;
    margin-top:10px;
    padding:20px;
}

.subcontent1 {
    display: inline-block;
    padding:10px;
    height:30px;
    background-color:rgba(244, 125, 45, 0.981);
    
    
    

}

.subcontent2{
    padding: 10px;
    height:30px;
    background-color:rgba(244, 125, 45, 0.981);
}

.content a{
    text-decoration: none;
}


