table{
   font-family: arial,sans-serif; 
   border-collapse: collapse;
   width: 100%;
   /* background-color: rgb(218, 209, 213); */
}

.ftr{
    background-color:black;
    color:white;
}

th, td{
    border: 1px solid white;
    padding:8px
}

tr:nth-child(even){
    background-color:lightgray;
}

tr:last-child{
    background-color:black;
    color: white;
}

